{% extends 'base.html.twig' %}

{% block title %}Key phrases generator{% endblock %}

{% block body %}

        <div class="container w-100 "mt-5">
            <form method="GET" class="w-100 mt-5">
                <div>
                    <textarea
                        required
                        class="form-control p-3 textarea-min-heigth" 
                        name="key_words"
                        placeholder="Введите ключевые слова"
                    ></textarea>
                </div>
                <div class="mt-5">
                    <button class="btn btn-primary" type="submit">Сформировать набор кючевых фраз</button>
                </div>
            </form>
            <div class="mt-5">
                <ul class="list-group list-group-numbered">
                    {% for keyPrase in keyPrases %}
                        <li class="list-group-item">{{keyPrase}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

{% endblock %}